
    footer {
        background-color: lightgray;
        color: #666;
        font-size: 12px;
        padding: 3em 1em;

        h1{
            cursor: pointer;
            font-family: 'Dancing Script', cursive, serif;
        }

        .footer {
            display: flex;
            justify-content: space-between;
        }
    
        li {
            text-decoration: none;
            display: inline-block;
            padding: 0em 1em;
            padding-top:1em;
    
        }
    
        a {
            text-decoration: none;
            display: inline-block;
            color: #666;
        }

        a:hover {
            text-decoration: none;
            color: white;
        }
        .icon li {
              padding: 0.4em;
              padding-top: 1em;
        }
    }