* {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    body {
        background-color:#e1e1ee ;
        height: 2000px;
    }
    // navbar start

    header {
        display: flex;
        position: fixed;
        top: 0;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(92, 119, 150, 0.9);
        z-index: 1;
        width: 100%;
        transition: all 0.3s ease-in-out;
        padding: 0.8em 3em 0.2em 3em;
        
        
        h1 {
            color: #edf0f1;
            font-weight: bolder;
        }
        
        nav {
            display: fixed;
            align-items: center;
        }
        nav li a {
            color: #edf0f1;
            text-decoration: none;
            transition: all 0.6 ease 0s;
            padding: 0.8em;
        }

        nav li a:hover {
            background-color: #edf0f1;
            color: rgb(156, 156, 226);
            padding: 0.8em;
            border-radius: 0.2em;
        }

        nav li {
            color: #edf0f1;
            text-decoration: none;
            list-style: none;
            display: inline-block;
            padding: 0em 1em;
        }

        .signin-btn {
            color: #edf0f1;
            text-decoration: none;
            border: none;
            padding: 0.8em;
            background-color: rgb(156, 156, 226);
            border-radius: 3em;
            margin-right: 0.7em;
        }

        .signin-btn:hover {
            background-color: #edf0f1;
            color: rgb(156, 156, 226);
            
        }

        .n-logo {
            cursor: pointer;
            font-family: 'Dancing Script', cursive, serif;

        }

        .expand {
            display: inline-block;
            padding: 0.6em;
            background-color: rgb(156, 156, 226);
            border-radius: 3em;

            button {
                text-decoration: none;
                color: #edf0f1;
                border: none;
                background-color: rgb(156, 156, 226);
                border-radius: 3em;
              
            }

            img {
                width: 0.6em;
            }
        }
        .expand:hover {
            background-color: #edf0f1;
            color: rgb(156, 156, 226);

            button {
                background-color: #edf0f1;
                color: rgb(156, 156, 226); 
            }
            
        } 

        // After log in

        #btns li {
            color: #edf0f1;
            text-decoration: none;
            list-style: none;
            display: inline-block;
        }


        .nav-nickname {
            color: #edf0f1;
            text-decoration: none;
            border: none;
            padding: 0.8em;
            border-radius: 0.2em;
            margin-bottom: 0.6em;

        }
        
        .profile {
            display: inline-block;
            text-decoration: none;
            color: #edf0f1;
            border: none;
            padding: 0.8em;
            border-radius: 0.2em;

            img {
                height: 1em;
            }
        }
        .profile:hover {
            background-color: rgb(238, 96, 151);
            color: #edf0f1;
            
        }

        .logout {
            display: inline-block;
            color: #edf0f1;
            text-decoration: none;
            
            border: none;
            padding: 0.8em;
            border-radius: 0.2em;

            img {
                height: 1em;
            }

            
        }
        .logout:hover {
            background-color: rgb(238, 96, 151);
            color: #edf0f1;
            
        }

        .logout-button {
            border: none;
            text-decoration: none;
            background: none;
            color: #edf0f1;
            padding-right: 0.7em;

        }





        .dropdown{
            display: inline-block;
        }

        .btn {
            color: #edf0f1;
            text-decoration: none;
            border: none;
            padding: 0.8em;
            background-color: rgb(60, 67, 75);
            border-radius: 3em;
            margin-right: 0.7em;
        }

        // .shrink {
        //     padding:1em 1em 31em 11em;
        //     justify-content: space-between;
        //     color: red;

        // }

        // Nav bar before shrink
    }
    .header {
        padding: 3em 3em 1em 3em;
        background-color: rgba(92, 119, 150, 0.6);
    }
    // Nav bar end 

    //  slider

    .slider {
        height: 35em;
        width: 100%;
        overflow: hidden;

        .sliderchild {
            height: 35em;
            width: 500%;
            animation: newslider infinite 25s ease-in-out 5s;
            
            a {
                text-decoration: none;
            }

            .imagesli {
                height: 35em;
                width: 20%;
                float: left;
            }
            .slide-content {
                background-color: rgba(2, 1, 1,0.4);
                width: 50%;
                margin: auto;
                border-radius: 1em;
                color: white;

            }

            // FIRST IMAGE AND TEXT

            .imagesli:nth-child(1) {
                background-image: url(../img/general.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .first-slide-h1 {
                text-align: center;
                margin-top: 5em;
            }

            .first-slide-h2 {
                text-align: center;
                margin-top: 1em;
            }

            .first-silde-p{
                margin-top: 1em;
                text-align: center;
                
            }

            // SECOND IMAGE AND TEXT

            .imagesli:nth-child(2) {
                background-image: url(../img/development.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .second-slide-h1 {
                text-align: center;
                margin-top: 5em;
            }

            .second-slide-h2 {
                text-align: center;
                margin-top: 1em;
            }

            .second-silde-p{
                margin-top: 1em;
                text-align: center;
                
            }

            // THIRD IMAGE AND TEXT

            .imagesli:nth-child(3) {
                background-image: url(../img/talk.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
            .third-slide-h1 {
                text-align: center;
                margin-top: 5em;
            }

            .third-slide-h2 {
                text-align: center;
                margin-top: 1em;
            }

            .third-silde-p{
                margin-top: 1em;
                text-align: center;
                
            }
                // FOURTH ILMAGE AND TEXT

            .imagesli:nth-child(4) {
                background-image: url(../img/events.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .fourth-slide-h1 {
                text-align: center;
                margin-top: 5em;
            }

            .fourth-slide-h2 {
                text-align: center;
                margin-top: 1em;
            }

            .fourth-silde-p{
                margin-top: 1em;
                text-align: center;
                
            }

            .imagesli:nth-child(5) {
                background-image: url(../img/general.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

        }

        @keyframes newslider {
            12.5%{
                margin-left: -100%;
            }
            25% {
                margin-left: -100%;
            }
            37.5%{
                margin-left: -200%;
            }
            50%{
                margin-left: -200%;
            }
            62.5%{
                margin-left: -300%;
            }
            75%{
                margin-left: -300%;
            }
            87.5% {
                margin-left: -400%;
            }
            100% {
                margin-left: -400%;
            }
        }


    }



}


  

