* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* body {
  background-color: #e1e1ee;
  height: 2000px;
}

* header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(92, 119, 150, 0.9);
  z-index: 1;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8em 3em 0.2em 3em;
}

* header h1 {
  color: #edf0f1;
  font-weight: bolder;
}

* header nav {
  display: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* header nav li a {
  color: #edf0f1;
  text-decoration: none;
  -webkit-transition: all 0.6 ease 0s;
  transition: all 0.6 ease 0s;
  padding: 0.8em;
}

* header nav li a:hover {
  background-color: #edf0f1;
  color: #9c9ce2;
  padding: 0.8em;
  border-radius: 0.2em;
}

* header nav li {
  color: #edf0f1;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 0em 1em;
}

* header .signin-btn {
  color: #edf0f1;
  text-decoration: none;
  border: none;
  padding: 0.8em;
  background-color: #9c9ce2;
  border-radius: 3em;
  margin-right: 0.7em;
}

* header .signin-btn:hover {
  background-color: #edf0f1;
  color: #9c9ce2;
}

* header .n-logo {
  cursor: pointer;
  font-family: 'Dancing Script', cursive, serif;
}

* header .expand {
  display: inline-block;
  padding: 0.6em;
  background-color: #9c9ce2;
  border-radius: 3em;
}

* header .expand button {
  text-decoration: none;
  color: #edf0f1;
  border: none;
  background-color: #9c9ce2;
  border-radius: 3em;
}

* header .expand img {
  width: 0.6em;
}

* header .expand:hover {
  background-color: #edf0f1;
  color: #9c9ce2;
}

* header .expand:hover button {
  background-color: #edf0f1;
  color: #9c9ce2;
}

* header #btns li {
  color: #edf0f1;
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

* header .nav-nickname {
  color: #edf0f1;
  text-decoration: none;
  border: none;
  padding: 0.8em;
  border-radius: 0.2em;
  margin-bottom: 0.6em;
}

* header .profile {
  display: inline-block;
  text-decoration: none;
  color: #edf0f1;
  border: none;
  padding: 0.8em;
  border-radius: 0.2em;
}

* header .profile img {
  height: 1em;
}

* header .profile:hover {
  background-color: #ee6097;
  color: #edf0f1;
}

* header .logout {
  display: inline-block;
  color: #edf0f1;
  text-decoration: none;
  border: none;
  padding: 0.8em;
  border-radius: 0.2em;
}

* header .logout img {
  height: 1em;
}

* header .logout:hover {
  background-color: #ee6097;
  color: #edf0f1;
}

* header .logout-button {
  border: none;
  text-decoration: none;
  background: none;
  color: #edf0f1;
  padding-right: 0.7em;
}

* header .dropdown {
  display: inline-block;
}

* header .btn {
  color: #edf0f1;
  text-decoration: none;
  border: none;
  padding: 0.8em;
  background-color: #3c434b;
  border-radius: 3em;
  margin-right: 0.7em;
}

* .header {
  padding: 3em 3em 1em 3em;
  background-color: rgba(92, 119, 150, 0.6);
}

* .slider {
  height: 35em;
  width: 100%;
  overflow: hidden;
}

* .slider .sliderchild {
  height: 35em;
  width: 500%;
  -webkit-animation: newslider infinite 25s ease-in-out 5s;
          animation: newslider infinite 25s ease-in-out 5s;
}

* .slider .sliderchild a {
  text-decoration: none;
}

* .slider .sliderchild .imagesli {
  height: 35em;
  width: 20%;
  float: left;
}

* .slider .sliderchild .slide-content {
  background-color: rgba(2, 1, 1, 0.4);
  width: 50%;
  margin: auto;
  border-radius: 1em;
  color: white;
}

* .slider .sliderchild .imagesli:nth-child(1) {
  background-image: url(../img/general.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

* .slider .sliderchild .first-slide-h1 {
  text-align: center;
  margin-top: 5em;
}

* .slider .sliderchild .first-slide-h2 {
  text-align: center;
  margin-top: 1em;
}

* .slider .sliderchild .first-silde-p {
  margin-top: 1em;
  text-align: center;
}

* .slider .sliderchild .imagesli:nth-child(2) {
  background-image: url(../img/development.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

* .slider .sliderchild .second-slide-h1 {
  text-align: center;
  margin-top: 5em;
}

* .slider .sliderchild .second-slide-h2 {
  text-align: center;
  margin-top: 1em;
}

* .slider .sliderchild .second-silde-p {
  margin-top: 1em;
  text-align: center;
}

* .slider .sliderchild .imagesli:nth-child(3) {
  background-image: url(../img/talk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

* .slider .sliderchild .third-slide-h1 {
  text-align: center;
  margin-top: 5em;
}

* .slider .sliderchild .third-slide-h2 {
  text-align: center;
  margin-top: 1em;
}

* .slider .sliderchild .third-silde-p {
  margin-top: 1em;
  text-align: center;
}

* .slider .sliderchild .imagesli:nth-child(4) {
  background-image: url(../img/events.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

* .slider .sliderchild .fourth-slide-h1 {
  text-align: center;
  margin-top: 5em;
}

* .slider .sliderchild .fourth-slide-h2 {
  text-align: center;
  margin-top: 1em;
}

* .slider .sliderchild .fourth-silde-p {
  margin-top: 1em;
  text-align: center;
}

* .slider .sliderchild .imagesli:nth-child(5) {
  background-image: url(../img/general.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@-webkit-keyframes newslider {
  12.5% {
    margin-left: -100%;
  }
  25% {
    margin-left: -100%;
  }
  37.5% {
    margin-left: -200%;
  }
  50% {
    margin-left: -200%;
  }
  62.5% {
    margin-left: -300%;
  }
  75% {
    margin-left: -300%;
  }
  87.5% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}

@keyframes newslider {
  12.5% {
    margin-left: -100%;
  }
  25% {
    margin-left: -100%;
  }
  37.5% {
    margin-left: -200%;
  }
  50% {
    margin-left: -200%;
  }
  62.5% {
    margin-left: -300%;
  }
  75% {
    margin-left: -300%;
  }
  87.5% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}

* footer {
  margin-top: 100%;
  background-color: #282e34;
  color: white;
  font-size: 12px;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

* footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* footer li {
  text-decoration: none;
  display: inline-block;
  padding: 0em 1em;
  padding-top: 1em;
}

* footer a {
  text-decoration: none;
  display: inline-block;
  color: white;
}

* footer span {
  width: 10em;
}
/*# sourceMappingURL=style.css.map */