* {


    .body {
        background-color: #282e34;
        

        .profile {
            margin-top: 2em;
        }
        
        .j-profile {
            color: white;
            padding: 0;

            h3 {
                margin-left: 0.5em;
                padding: 0;
            }

            img {
                margin: 1em;
                margin-bottom: 2em;
            }

            table {
                margin-left: 1em ;

                tr {

                    td {
                        padding-bottom: 2em;
                    }
                }
            }

            button {
                margin-left: 1em;
                border: none;
                background-color: skyblue;
                padding: 0.4em;
                border-radius: 0.4em;
                transition: ease-in-out 0.2s ;
            }

            button:hover {
                color: rgb(238, 227, 227);
                background-color: rgb(61, 180, 228);
            }


        }
    }
}