* {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    body {
        background-color: rgb(250, 248, 248);
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 3em 1em 3em;
        background-color: rgba(92, 119, 150, 0.9);;
        
        h1 {
            color: #edf0f1;
            font-family: 'Dancing Script', cursive, serif;
            a {
                text-decoration: none;
                color:  #edf0f1;
            }
        }

        li a {
            color: #edf0f1;
            text-decoration: none;
            transition: all 0.6 ease 0s;
            padding: 0.8em;
        }

        li a:hover {
            background-color: #edf0f1;
            color: rgb(156, 156, 226);
            padding: 0.8em;
            border-radius: 0.2em;
        }

        li {
            color: #edf0f1;
            text-decoration: none;
            list-style: none;
            display: inline-block;
            padding: 0em 1em;
        }

        button {
            color: #edf0f1;
            text-decoration: none;
            border: none;
            padding: 0.8em;
            background-color: rgb(156, 156, 226);
            border-radius: 3em;
            margin-right: 0.7em;
        }

        button:hover {
            background-color: #edf0f1;
            color: rgb(156, 156, 226);
            
        }

        .n-logo {

            cursor: pointer;

        }
    }


    #content {
        width: 40%;
        margin: auto;
        margin-top: 2em;

        .signup{
            padding: 1.5em 1em;
            margin: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 0em 0em 5px 5px ;
        }
        .title {
            padding: 0.5em;
            margin: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(92, 119, 150, 0.9);;
            border-radius: 5px 5px 0em 0em ;
            padding: 1em;
            color: #FFF;
        }
        .elements {
            width: 100%;
            font-size: 14px;
            padding: 0.2em;
        }

        label {
            font-size: 18px;
        }

        #singup-button {
            width: 100%;
            padding: 0.5em;
            background-color: rgba(92, 119, 150, 0.9);;
            border: none;
            border-radius: 3px;
            color: #fff;
            font-size: 1em;
        }
        #singup-button:hover {
            background-color: rgba(55, 86, 121, 0.9);;
            cursor: pointer;
        }

    }

    #content:hover {
        border-radius: 4px;
        box-shadow: 0.5px 0.5px 0.5px black;    

    }
}
