* {

    .container {

        .card-header {
            background-color: rgba(92, 119, 150, 0.9);
        }

        a {
            color: whitesmoke;
        }

        .card {
            a {
                background-color: rgba(92, 119, 150, 0.6);
                border: none;
            }
        }
    }

}