* {
    .container {
        margin: 15px;

        .card {
            margin-bottom: 25px;
        }

        .card-header {
            background-color: rgba(92, 119, 150, 0.6);
        }
    }

}